@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --bg: #f6f8fc;
  --white: #fff;
  --black: #161b1f;
  --dark: #0d2c41;
  --grey: #6f7b8b;
  --light-grey: #b2bdcc;

  --drop-shadow: rgba(63, 102, 153, 0.125);

  --poke-red: #ff5350;
  --poke-red-dark: #9e1e1c;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: var(--black);
}

html {
  background-color: var(--bg);

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {

}

main {
  padding: 2rem;
  max-width: 82rem;
  margin: 0 auto;
}

h1 {
  color: var(--dark);
  font-size: 3.5rem;
  line-height: 1.125;
  margin-bottom: 2rem;
}


/* -------------------------------------- */
/* --------------- BUTTONS -------------- */
/* -------------------------------------- */

.btn {
  background: var(--poke-red);
  border: none;
  padding: .75rem 1.5rem;
  border-radius: 12px;

  color: var(--white);
  font-weight: 700;

  cursor: pointer;
}

.btn:hover {
  background: var(--poke-red-dark);
}


.btn-cta {
  margin-top: .5rem;
  margin-bottom: 0;

  padding: 1rem 2rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border: 2px solid var(--poke-red);

  box-shadow: 0 2px 16px -1px var(--drop-shadow);
  transition: .5s;
}

.btn-cta:hover {
  margin-top: 0rem;
  margin-bottom: .5rem;

  background-color: var(--white);

  color: var(--poke-red);

  box-shadow: 0 8px 16px -2px var(--drop-shadow);
}





/* -------------------------------------- */
/* ------------- NAVIGATION ------------- */
/* -------------------------------------- */

nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  padding: .75rem 3rem .75rem;
  margin-bottom: 1rem;
  background-color: var(--white);

  box-shadow: 0 0 16px -4px var(--drop-shadow);
}

#nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#nav-left p:after {
  content: "";

  position: absolute;
  height: 3px;
  width: 0rem;
  left: calc(50% - 0rem);
  bottom: -1.5rem;

  background-color: var(--poke-red);
}

#nav-left .current-page:after {
  width: 85%;
  left: calc(7.5%);
}

#nav-left p:not(#logo-nav) {
  position: relative;

  font-size: 1.5rem;
  font-weight: 500;

  cursor: pointer;
}
#nav-left p:hover:not(#logo-nav) {
  color: var(--poke-red-dark);
}

#logo-nav {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--poke-red);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

#logo {
  content: "";

  display: inline-block;
  height: 1.75rem;
  width: 1.75rem;

  background-image: url("../images/icon_logo.svg");
}

#battle-nav {
  padding: .85rem 2rem 1rem;
  background-color: var(--poke-red);
  border-radius: 16px;

  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  cursor: pointer;
}

#battle-nav:hover {
  background-color: var(--poke-red-dark);
}




/* -------------------------------------- */
/* ------------ LANDING PAGE ------------ */
/* -------------------------------------- */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;

  width: 100%;
  min-height: 32rem;

  background-color: var(--white);
  border-radius: 24px;
  padding: 4rem;
  margin-bottom: 4rem;

  box-shadow: 4px 8px 24px -6px var(--drop-shadow);
}

header .header-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

header span {
  color: var(--poke-red);
  font-weight: 300;
}