@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --bg: #f6f8fc;
  --white: #fff;
  --black: #161b1f;
  --dark: #0d2c41;
  --grey: #6f7b8b;
  --light-grey: #e9eff8;

  --drop-shadow: rgba(63, 102, 153, 0.125);

  --poke-red: #ff5350;
  --poke-red-dark: #9e1e1c;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: var(--black);
}

html {
  background-color: var(--bg);

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}

main {
  padding: 2rem;
  max-width: 82rem;
  margin: 0 auto;
}

h1 {
  color: var(--dark);
  font-size: 3.5rem;
  line-height: 1.125;
  margin-bottom: 2rem;
}


/* -------------------------------------- */
/* --------------- BUTTONS -------------- */
/* -------------------------------------- */

.btn {
  background: var(--poke-red);
  border: none;
  padding: .75rem 1.5rem;
  border-radius: 12px;

  color: var(--white);
  font-weight: 700;

  cursor: pointer;
}

.btn:hover {
  background: var(--poke-red-dark);
}


.btn-cta {
  margin-top: .5rem;
  margin-bottom: 0;

  padding: 1rem 2rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border: 2px solid var(--poke-red);

  box-shadow: 0 2px 16px -1px var(--drop-shadow);
  transition: .5s;
}

.btn-cta:hover {
  margin-top: 0rem;
  margin-bottom: .5rem;

  background-color: var(--white);

  color: var(--poke-red);

  box-shadow: 0 8px 16px -2px var(--drop-shadow);
}

.btn-ghost {
  background-color: var(--white);
  border: 2px solid var(--poke-red);
  color: var(--poke-red);
  transition: .25s;
  font-size: 1.125rem;

  box-shadow: 0 4px 12px -1px var(--drop-shadow);
}

.btn-ghost:hover {
  background-color: var(--poke-red);
  color: var(--white);

  box-shadow: 0 2px 8px -2px var(--drop-shadow);
}




/* -------------------------------------- */
/* ------------- NAVIGATION ------------- */
/* -------------------------------------- */

nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  padding: .75rem 3rem .75rem;
  margin-bottom: 1rem;
  background-color: var(--white);

  box-shadow: 0 0 16px -4px var(--drop-shadow);
}

#nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#nav-left p:after {
  content: "";

  position: absolute;
  height: 3px;
  width: 0rem;
  left: calc(50% - 0rem);
  bottom: -1.5rem;

  background-color: var(--poke-red);
}

#nav-left .current-page:after {
  width: 85%;
  left: calc(7.5%);
}

#nav-left p:not(#logo-nav) {
  position: relative;

  color: var(--grey);
  font-size: 1.35rem;
  font-weight: 500;

  cursor: pointer;
}
#nav-left p:hover:not(#logo-nav) {
  color: var(--black);
}

#logo-nav {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--poke-red);
  font-size: 1.35rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

#logo {
  content: "";

  display: inline-block;
  height: 1.75rem;
  width: 1.75rem;

  background-image: url("../images/icon_logo.svg");

  transition: .75s;
}

#logo-nav:hover #logo {
  transform: rotate(-15deg);
}

#battle-nav {
  padding: .85rem 2rem 1rem;
  background-color: var(--poke-red);
  border-radius: 8px;

  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  cursor: pointer;
}

#battle-nav:hover {
  background-color: var(--poke-red-dark);
}




/* -------------------------------------- */
/* --------------- FOOTER --------------- */
/* -------------------------------------- */


footer {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;

  width: 100%;
  padding: 1.5rem 2rem;
  
  box-shadow: 0 -4px 32px -8px var(--drop-shadow);

  bottom: 0;
}

footer p, footer a {
  color: var(--grey)
}

footer a:hover {
  color: var(--black);
}



/* -------------------------------------- */
/* ------------ LANDING PAGE ------------ */
/* -------------------------------------- */


header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;

  width: 100%;
  min-height: 32rem;

  background-color: var(--white);
  border-radius: 24px;
  padding: 4rem;
  margin-bottom: 4rem;

  box-shadow: 4px 8px 24px -6px var(--drop-shadow);
}

header .header-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

header span {
  color: var(--poke-red);
  font-weight: 300;
}



/* CAROUSEL */

#landing-page .carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100%;
  margin-bottom: 7rem;

  text-align: center;
}

.carousel-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;

  max-width: 58rem;
  width: 100%;
}

.carousel-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;

  min-height: 12rem;
  width: 100%;
  margin-top: 4rem;

  background-color: var(--white);
  border-radius: 16px;

  box-shadow: 0 8px 16px -8px var(--drop-shadow);
}

.carousel-sprite {
  position: absolute;
  max-width: 14rem;
  width: 80%;
  left: 50%;
  top: -5rem;
  transform: translateX(-50%);

  image-rendering: pixelated;
  filter: drop-shadow(2px 8px 2px var(--drop-shadow));
}

.carousel-ID {
  width: 100%;
  overflow: hidden;

  color: var(--light-grey);
  font-size: 10rem;
  text-align: center;
  letter-spacing: -.5rem;
  line-height: 9rem;
}

.carousel-name {
  color: var(--poke-red);
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding: .25rem 1rem 1.5rem 1rem;
}

.carousel-controls {
  position: absolute;
  bottom: -2rem;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  width: 100%;
  padding: 0 1rem;
}

.carousel-controls button {
  width: 1rem;
  height: 1rem;

  background-color: var(--poke-red);
  border: none;
}

#carousel-left {
  background-image: url("../images/arrow-left.svg");
}
#carousel-right {
  background-image: url("../images/arrow-right.svg");
}


/* INFORMATION GRID */

#landing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;

  max-width: 58rem;
  width: 100%;
  margin: 0 auto;
}

.landing-grid-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  background-color: var(--white);
  padding: 2rem;
  border-radius: 16px;

  box-shadow: 0 8px 16px -8px var(--drop-shadow);
}

.team-split {
  display: flex;
  flex-direction: row;
  gap: -4rem;
}







/* -------------------------------------- */
/* ------------ POKEDEX PAGE ------------ */
/* -------------------------------------- */


/* SEARCH BAR */

#pokedex {
  position: sticky;
}

search {
  position: static;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#display #search-bar {
  width: 100%;
  position: relative;
}

#search-input {
  width: 100%;
  padding: 1.75rem 2.5rem;
  border-radius: 16px;
  border: none;
  
  font-size: 1.125rem;
  color: var(--dark);
  font-weight: 600;
  letter-spacing: .75px;

  box-shadow: 0px 8px 24px -4px var(--drop-shadow);
}

#search-input::placeholder {
  color: var(--grey);
}

#search-input:focus {
  outline: 2px solid var(--poke-red);
}

#search-button {
  position: absolute;
  top: .9rem;
  right: 1rem;
  display: block;
  height: 3rem;
  width: 3rem;
  aspect-ratio: 1/1;

  background-color: var(--poke-red);
  background-image: url("../images/icon_pokeball_white.svg");
  background-size: 75%;
  background-repeat: space;
  background-position: .4rem .3rem;
  border: none;
  border-radius: 8px;

  transition: .25s;
  box-shadow: 0 0 12px -4px var(--drop-shadow);
}

#search-button:hover {
  background-color: var(--poke-red-dark);
}

#filters div {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 14rem;
  width: fit-content;
}

#filters p {
  position: relative;

  background-color: var(--white);
  padding: 1rem;
  margin-bottom: .75rem;
  padding-left: 3rem;
  border-radius: 8px;
  text-transform: capitalize;

  box-shadow: 0 6px 12px -3px var(--drop-shadow);
  cursor: pointer;
}

#filters p::before {
  content: "";

  position: absolute;
  left: 1rem;
  top: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  display: block;
  background-image: url("../images/icon_pokeball.svg");
}

#filters p::after {
  content: "";

  position: absolute;
  right: 1rem;
  top: 1.125rem;
  height: 8px;
  width: 8px;
  display: block;
  border-right: 3px solid var(--poke-red);
  border-bottom: 3px solid var(--poke-red);

  transform: rotate(45deg);
  transition: .5s;
}

#filters .open p::after {
  top: 1.45rem;
  transform: rotate(225deg)
}

#filters ul {
  position: absolute;
  z-index: 1000;
  display: none;
  border-radius: 8px;
  width: 14rem;
  top: 4rem;

  max-height: 14rem;
  overflow-y: scroll;

  box-shadow: 0 4px 12px -4px var(--drop-shadow);
}

#filters div.open ul {
  display: block;
}

#filters li {
  position: relative;

  background-color: var(--white);
  padding: .75rem 1rem .85rem 3rem;
  border-bottom: 1.5px solid var(--light-grey);

  text-decoration: none;
  list-style: none;
  text-transform: capitalize;

  transition: .25s;
  cursor: pointer;
}

#filters li::before {
  content: "";

  position: absolute;
  display: inline-block;
  left: 1rem;

  height: 1rem;
  width: 1rem;
  
  border: 2px solid var(--grey);
  border-radius: 4px;
}

#filters li::before:hover {
  background-color: var(--poke-red);
}

#filters li:hover {
  background-color: var(--light-grey);
}

#filters li:first-child {
  border-radius: 8px 0px 0 0;
}

#filters li:last-child {
  border-radius: 0 0 0px 8px;
}

#filters li.selected {
  background-color: var(--light-grey);
  border-bottom-color: var(--poke-red);
}

#filters li.selected:hover {
  background-color: #d5ddeb;
}

#filters li.selected::before {
  border: 2px solid var(--poke-red);
}

#filters li.selected::after {
  content: "";

  position: absolute;
  left: 1.31rem;
  top: 1.06rem;

  display: inline-block;
  height: .65rem;
  width: .65rem;
  background-color: var(--poke-red);
  border-radius: 2px;
}





/* Pokedex Cards */

#pokedex-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.pokedex-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  min-height: 8rem;
  margin-top: 4rem;
  margin-bottom: 0rem;

  background-color: #fff;
  padding: 2rem;
  border-radius: 22px;

  box-shadow: 0 8px 22px -4px var(--drop-shadow);
  cursor: pointer;
  transition: .5s;
}

.pokedex-card:hover {
  margin-top: 3rem;
  margin-bottom: 1rem;

  box-shadow: 0 26px 12px -8px var(--drop-shadow);
}

.pokedex-card img {
  position: absolute;
  top: -5rem;
  width: 75%;

  image-rendering: pixelated;
}

.pokedex-card .poke-id {
  margin-top: 6rem;
  
  font-size: .85rem;

}

.pokedex-card h3 {
  font-size: 1.65rem;
  color: var(--dark)
}

.pokedex-card .poke-type-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: .75rem;
}

.pokedex-card .poke-type-container p {
  padding: .45rem .85rem .5rem .85rem;
  background-color: var(--light-grey);

  border-radius: 6px;
}











/* IMPORANTS */

.hidden {
  display: none !important;
}